body {
    background-color: rgb(238, 238, 238);
}

.header {
    padding-top: 2rem;
    background-image: url(../img/banner.jpg);
    height: 75rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* Conforme la pantalla disminulla de tamaño la imagen se centrar desde el origen XY */

}

.header__texto {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    gap: 1rem;
}



@media (max-width: 768px) {
    .header__texto {
        height: 50%;
        margin: 0 6rem;
    }
}

.header__parrafo {
    font-size: 1.8rem;
}

.barra a {
    color: var(--blanco);

}

.barra a:hover {
    color: rgb(189, 189, 120);
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo__bold {
    font-weight: bold;
}

.logo__nombre {
    font-weight: normal;
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;

    }
}

.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;

}



@media (min-width:768px) {

    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
    }
}

@media (min-width: 768px) {
    .entrada__imagen img {
        width: 100%;
        height: 500px;
    }
}




.entrada {
    border-bottom: 1px solid gray;
    margin-bottom: 3rem;
}

.entrada__contenido {
    margin-bottom: 3rem;
}

.entrada__contenido h4 {
    margin-top: 1rem;
}

.entrada:last-of-type {
    border: none;
}

.boton {
    border-radius: 3px;
    padding: 1rem 3rem;
    color: white;
    font-family: var(--fuenteHeading);
    font-size: 1.9rem;
}

.boton--primario {
    background-color: rgb(224, 169, 97);
}

.boton--primario:hover {
    color: rgb(224, 169, 97);
    border: 1.5px solid rgb(224, 169, 97);
    background-color: transparent;
}


.boton--secundario {
    background-color: rgb(212, 135, 34);
}

.boton--secundario:hover {
    color: rgb(212, 135, 34);
    border: 1.5px solid rgb(212, 135, 34);
    background-color: transparent;
}


@media (max-width: 768px) {
    .boton {
        display: block;
        text-align: center;
    }

}

.widget {
    border-bottom: 1px solid grey;
    padding-bottom: 2rem;
}

/* Sobre nosotros */

@media (min-width: 768px) {
    .sobre-nosotros {
        display: flex;
        gap: 2rem;
    }

    .sobre-nosotros__imagen,
    .sobre-nosotros__texto {
        flex-basis: calc(50% - 1rem);
    }

    .sobre-nosotros__texto {
        text-align: justify;
    }
}

.footer {
    background-color: var(--negro);
    width: 100%;
    min-height: 20vh;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


@media (min-width: 768px) {
    .footer {
        flex-direction: row;
    }
}

.curso {
    padding: 3rem 0;
    border-bottom: 1px solid rgb(217, 142, 21);
}

.curso:last-child {
    border-bottom: none;
}

@media (min-width: 768px) {
    .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}

.curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}

.curso__info {
    font-weight: normal;

}

.curso__descripcion {
    /* text-indent: 1em; */
    
    line-height: 2.8rem;
}

.curso__label,
.curso__info {
    font-size: 2rem;
}